.grid-cell-centered {
    text-align: center;
}

.grid-cell-left {
    text-align: left;
}

.grid-cell-right {
    text-align: right;
}

.ag-theme-alpine {
    /* --ag-foreground-color: rgb(126, 46, 132); */
    --ag-background-color: #EEEEEE;
    /* --ag-header-foreground-color: rgb(204, 245, 172); */
    --ag-header-background-color: #D9D9D9;
    /* --ag-odd-row-background-color: rgb(0, 0, 0, 0.03); */
    /* --ag-header-column-resize-handle-color: rgb(126, 46, 132);

    --ag-font-size: 17px;
    --ag-font-family: monospace; */
}

.ag-header-cell-label {
    justify-content: center;
}

.ag-header {
    text-align: center;
}