.from {
    display: inline-block;
}

.to {
    display: inline-block;
    margin-left: 30px; 
}
.date-picker-inline{
    display: inline-block;
}
.span-font{
    font-size: 18px;
    margin-right: 6px;
}